body {
  background-color:#211C1A;
  background-image:url('../images/texture-bg-03.png');
  background-attachment:fixed;
  font-family: Helvetica, sans-serif;
  font-style: italic;
  font-size:12px;
  color:white;
  }

.content {
  width:500px;
  margin-left:auto;
  margin-right:auto;
  margin-top:64px;
  }
  
.content h1 {
  margin-bottom:32px;
  font-size:24px;
  letter-spacing:3px;
  font-weight:normal;
  font-style: normal;
  line-height:30px;
  text-align:center;
}

/* (A) MATERIAL ICONS */
.material-icons {
  font-size: 18px;
  color: white;
}

/* (B) WRAPPER */
#aWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  max-width: 500px;
  padding: 10px;
  padding-top:20px;
  background: black;
  filter:drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.8));
}

/* (C) PLAY/PAUSE BUTTON */
#aPlay {
  padding:0;
  margin-left: 12px;
  background: 0;
  border: 0;
  cursor: pointer;
}

/* (D) TIME */
#aCron {

  color: white;
  margin: 0 10px;
}

/* (E) RANGE SLIDERS */
/* (E1) HIDE DEFAULT */
#aWrap input[type="range"] {
  box-sizing: border-box;
  appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  width: 150px;
  padding: 0;
  margin: 0;
  background: 0;
}
#aWrap input[type="range"]::-webkit-slider-thumb {
  appearance: none;
}

/* (E2) CUSTOM SLIDER TRACK */
#aWrap input[type=range]::-webkit-slider-runnable-track {
  background: #333333;
}
#aWrap input[type=range]::-moz-range-track {
  background: #333333;
}

/* (E3) CUSTOM SLIDER BUTTON */
#aWrap input[type=range]::-webkit-slider-thumb {
  width: 16px; height: 16px;
  border: 0;
  background: #fff;
}
#aWrap input[type=range]::-moz-range-thumb {
  width: 16px; height: 16px;
  border: 0;
  background: #fff;
}

/* (F) VOLUME */
#aVolIco {
  margin: 0 10px;
}

/* (G) PLAYLIST */
#aList {
  width: 100%;
  padding: 10px;
  margin: 10px;
  color: #404040;

}
.aRow {
  cursor: pointer;
  padding: 10px 0;
  border-top: 1px solid #3b3b3b;
}
.aRow.now {
  color: white;
}

.sigil {
        position:fixed;
        height:32px;
        width:32px;
        left:10px;
        top:10px;
        background-image:url("../favicon.svg");
        background-repeat:no-repeat;
        background-size: 24px;
        background-position:center center;
        transition: background-size 0.5s ease-in-out, transform 0.5s ease-in-out;
        }
      .sigil:hover {
        background-size: 32px;
        transform:rotate(180deg);
        }